@import "tailwindcss";

body {
  background-color: #121212;
  color: #d1d5db;
  margin: 0;
  padding: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.ui-label {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.ui-value {
  font-weight: 700;
  letter-spacing: 0.05em;
}

.ui-body {
  font-weight: 700;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
